*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*background-color: rgb(236, 227, 227);*/
  margin: auto;
  background: url("../images/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg");
  background-size: 100%;
}

.header-wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

header{
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;
}

/*main {
  display: flex;
  justify-content: center;
}*/

.code-page {
  text-align: center;
  width: 75%;
  margin: 20px;
  padding: 20px;
}

#prompt {
  background-color: rgba(0, 0, 0, 0.495);
  color: white;
  padding: 20px;
}

button {
  /*background-color: #2e2e2e;
  color: white; */
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Styles for High Scores Page */
.display-scores {
  margin: auto;
  padding: 20px;
  display: block;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.399);
  list-style: none;
}

.high-scores-div {
  width: 100%;
  text-align: center;
}

.scores-buttons-div {
  width: 100%;
  display: flex;
  justify-content: center;
}